* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.canva {
	position: relative;
	margin: 10px auto;
	height: 600px;
	width: 960px;
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

.canva img {
	position: absolute;
}

.container-buttons {
	position: relative;
	top: 483px;
	width: 100%;
	text-align: center;
}

.container-buttons button {
	position: relative;
	margin-right: 69px;
}

.button {
	background-color: black;
	border: none;
	color: white;
	padding: 6px;
	width: 371px;
	border-radius: 8px;
	font-size: 21pt;
	font-family: Comic Sans MS, Sans;
	text-align: center;
	outline: 0;
	cursor: pointer;
}

.box-game {
	position: absolute;
	margin-top: 78.5px;
	margin-left: 24px;
}

.box-game div {
	display: inline-block;
}

.card {
	position: relative;
	height: 89px;
	width: 141px;
	margin: 10px 5px;
	perspective: 900px;
}

.side {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 15px;
	transition: transform 500ms ease-in-out;
	backface-visibility: hidden;
}

.back {
	background-image: url("../img/back_cards.png");
}

.back.face_up {
	transform: rotateY(180deg);
}

.front {
	transform: rotateY(-180deg);
}

.front.face_up {
	transform: rotateY(0deg);
}

.container-end-game {
	position: absolute;
	display: block;
	text-align: center;
	top: 206.5px;
	left: 289.5px;
}

.container-end-game h1 {
	font-family: Ebrima, Sans;
	color: white;
	font-size: 43pt;
	margin: 30px;
	text-shadow: 0px 0px 7px rgba(0,0,0,0.8);
}